/* COLORS */
:root {
    --c-primary: rgb(5, 18, 31);
    --c-secondary: rgb(29, 45, 60);
}

/* GENERICS */
body {
    background-color: var(--c-secondary);
}

header {
    background-color: var(--c-primary);
    height: 90px;
}

h4 {
    font-size: 1.2rem;
}

figure {
    margin: 0;
    width: 200px;
    height: 200px;
}

li {
    background-color: var(--c-primary);
    color: white;
    margin: 10px;
    list-style: none;

    cursor: pointer;
}

.cs-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CARD ON CLICK */
.active {
    background-color: rgba(5, 18, 31, 0.9);

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.active figure {
    width: 400px;
    height: 400px;
}

.active h4,
.active h6 {
    font-size: 2rem;
}